<div class="background">
  <%= render 'shared/navbar' %>
  <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card-form">
            <h2>Your new coctail</h2>
            <%= simple_form_for(@cocktail) do |f|%>
              <%= f.input :name %>
              <%= f.button :submit, class: 'btn-orange w-100' %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>



