
<div class="footer">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="footer-card">
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/matthieu-hedin/" class="fab fa-linkedin" target="_blank"></a>
          <a href="https://github.com/MrBloon" class="fab fa-github" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="footer-card">
        <p>Made with <i class="fas fa-heart"></i> by Matthieu H</p>
      </div>
    </div>
  </div>
</div>

